# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# .gitignore
# 首先忽略所有的文件
*
# 但是不忽略目录
!*/
# 不忽略makefile（以后有cmake再说）与md
!Makefile
!*.md
# 忽略一些指定的目录名
ut/
# 不忽略下面指定的文件类型
!*.c++
!*.cc
!*.cp
!*.cpp
!*.cxx
!*.h
!*.h++
!*.hh
!*.hp
!*.hpp
!*.hxx
!*.C
!*.H
!*.c
# 不忽略bin目录下面指定的文件类型
!./bin/*.txt
!./bin/*.sh